<mat-dialog-content class="mat-typography">
  <form [formGroup]="mainFormGroup">
    <div formArrayName="employees">
      <div
        *ngFor="let employeeFormGroup of employeeFormGroups; let i = index"
        [formGroupName]="i"
        class="mb-40"
      >
        <h2 mat-dialog-title>Employee {{ i + 1 }}</h2>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="fill">
              <mat-label>Employee name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="fill">
              <mat-label>Employee hourly rate</mat-label>
              <input matInput formControlName="hourlyRate" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="fill">
              <mat-label>Employee overtime hourly rate</mat-label>
              <input matInput formControlName="hourlyRateOvertime" />
            </mat-form-field>
          </div>
        </div>

        <div class="flex-row-between-center">
          <h4>Shifts</h4>

          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <mat-select
              (selectionChange)="
                onDateChange(
                  $event,
                  data.employees[i],
                  employeeFormGroup,
                  matTable
                )
              "
            >
              <mat-option
                *ngFor="
                  let date of data.employees[i] | makeShiftsDatesByEmployee
                "
                [value]="date.value"
                >{{ date.label }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div
          class="shifts-table-wrapper"
          [class.shifts-table-wrapper_empty]="employeeFormGroup['controls']['shifts']['controls'].length === 0"
          (scroll)="onTableScroll($event, employeeFormGroup, matTable)"
        >
          <table
            #matTable
            mat-table
            [dataSource]="employeeFormGroup['controls']['shifts']['controls']"
            formArrayName="shifts"
            class="shifts-table"
          >
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let rowIndex = index">
                Shift {{ rowIndex + 1 }} ({{ element.value.clockInDate }}
                {{
                  element.value.clockInDate !== element.value.clockOutDate
                    ? " - " + element.value.clockOutDate
                    : ""
                }})
              </td>
            </ng-container>

            <ng-container matColumnDef="clockIn">
              <th mat-header-cell *matHeaderCellDef>Clock in</th>
              <td
                mat-cell
                *matCellDef="let element; let rowIndex = index"
                [formGroupName]="rowIndex"
              >
                <mat-form-field appearance="fill"
                  ><input
                    matInput
                    formControlName="clockInHours"
                    [max]="
                      element.value.clockInDate === element.value.clockOutDate
                        ? element.value.clockOutHours
                        : null
                    "
                    [ngxTimepicker]="clockInTime"
                    [format]="24"
                    readonly
                  />
                  <ngx-material-timepicker
                    #clockInTime
                    (timeSet)="onTimeSet($event, 'clockIn', element)"
                  ></ngx-material-timepicker>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="clockOut">
              <th mat-header-cell *matHeaderCellDef>Clock out</th>
              <td
                mat-cell
                *matCellDef="let element; let rowIndex = index"
                [formGroupName]="rowIndex"
              >
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    formControlName="clockOutHours"
                    [min]="
                      element.value.clockInDate === element.value.clockOutDate
                        ? element.value.clockInHours
                        : null
                    "
                    [ngxTimepicker]="clockOutTime"
                    [format]="24"
                    readonly
                  />
                  <ngx-material-timepicker
                    #clockOutTime
                    (timeSet)="onTimeSet($event, 'clockOut', element)"
                  ></ngx-material-timepicker>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="totalTime">
              <th mat-header-cell *matHeaderCellDef>Total time(in hours)</th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.value.clockOut - element.value.clockIn
                    | millisecondsToBeautyHours
                }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="shiftColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: shiftColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
  <button
    mat-flat-button
    color="accent"
    (click)="onSave()"
    [disabled]="mainFormGroup.invalid || mainFormGroup.pristine ? true : null"
  >
    Save
  </button>
</mat-dialog-actions>
