<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <inta-info-widget
      title="Total number of employees"
      [value]="employees.length.toString()"
    ></inta-info-widget>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <inta-info-widget
      title="Total Clocked in time"
      [value]="shifts.length.toString()"
    ></inta-info-widget>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <inta-info-widget
      title="Total amount paid for regular hours"
      [value]="
        (employees | sumOfTotalAmountPaidForRegularHours | number: '1.2-2') ||
        ''
      "
    ></inta-info-widget>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <inta-info-widget
      title="Total overtime amount paid for overtime hours"
      [value]="
        (employees
          | sumOfTotalOvertimeAmountPaidForOvertimeHours
          | number: '1.2-2') || ''
      "
    ></inta-info-widget>
  </div>
</div>
