ngx-material-timepicker-container {
  .timepicker-backdrop-overlay {
    z-index: 9999!important;
  }
  .timepicker-overlay {
    z-index: 9999!important;
    ngx-material-timepicker-content {
      z-index: 9999!important;
      .timepicker {
        z-index: 9999!important;
      }
    }
  }
}
