<h1 class="page-title mb-40">Dashboard</h1>

<inta-dashboard-widgets
  class="mb-40"
  [employees]="employees"
  [shifts]="shifts"
></inta-dashboard-widgets>

<inta-employees-table-container
  [employees]="employees"
  (bulkEdit)="onBulkEditClick($event)"
></inta-employees-table-container>
