:host {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .content-container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 250px;
  }
}
