:host {
  .sidebar-menu__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .sidebar-menu__link {
        background-color: #d9d9d9!important;
      }
    }

    .sidebar-menu__link {
      display: block;
      padding: 10px 16px;
      text-decoration: none;
      color: #222;
      border-radius: 6px;
      &:hover {
        background-color: #e8e6e6;
      }
    }
  }
}
