:host {
  width: 250px;
  height: 100vh;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  background-color: #f3f3f3;
  flex-shrink: 0;

  .sidebar__logo{
      display: block;
      height: 80px;
      margin: 0 auto;
  }
}
