<div class="flex-row-end-center">
  <button
    mat-flat-button
    color="primary"
    [disabled]="selectedEmployeeIds.length === 0 ? true : null"
    (click)="onBulkEditClick()"
    class="mb-20"
  >
    Bulk edit
  </button>
</div>

<table mat-table [dataSource]="innerEmployees" class="employees-table">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox #checkbox (change)="onCheckboxChange($event, element.id)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="totalClockedInATime">
    <th mat-header-cell *matHeaderCellDef>Total Clocked in a time</th>
    <td mat-cell *matCellDef="let element">{{ element.shifts.length }}</td>
  </ng-container>

  <ng-container matColumnDef="totalAmountPaidForRegularHours">
    <th mat-header-cell *matHeaderCellDef>
      Total amount paid for regular hours
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalAmountPaidForRegularHours }}
    </td>
  </ng-container>

  <ng-container matColumnDef="totalOvertimeAmountPaidForOvertimeHours">
    <th mat-header-cell *matHeaderCellDef>
      Total overtime amount paid for overtime hours
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalOvertimeAmountPaidForOvertimeHours }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
