@import "./styles/reset";
@import "./styles/margins-and-paddings";
@import "./styles/page";
@import "./styles/bootstrap-grid";
@import "./styles/flex";

@import "./styles/ngx-material-timepicker";

* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
