:host{
    display: block;
    padding: 12px;
    border-radius: 6px;
    background-color: #f3f3f3;

    .info-widget__title{
        display: block;
        font-size: 12px;
        color: #222;
        margin-bottom: 5px;
    }

    .info-widget__value{
        display: block;
        font-size: 20px;
        color: #222;
    }
}